body {
    padding-top: 50px;
    /* text-align: center; */
}

.navbar {
    background-color: #9f23c5;
    color: white;
}

.card {
    background-color: #d1cdc3;
}

.row {
    margin-left: auto;
    margin-right: auto;
    height: auto;
}